{% extends "layout.html" %}

{% block title %}Hello!{% endblock %}

{% block content %}
    <div class="hero-container"> 
        <div class="info">
            <h1>
                Quantifying<br>
                <span class="indent">Translationese</span>
            </h1>
            <div class="info-body">
                <p>
                    Machine-translated datasets are commonly used to support
                    NLP research for low-resource languages such as Filipino,
                    but machine translation (MT) outputs frequently exhibit
                    translationese artifacts that diverge from native usage. In
                    Filipino, this distortion often appears as an overproduction
                    of the pragmatically marked, subject-initial Di-Karaniwang
                    Ayos (DKA) in place of the unmarked, verb-initial
                    Karaniwang Ayos (KA). We present the first large-scale,
                    multi-system empirical study quantifying MT-induced
                    word-order bias in Filipino benchmarks and assessing its
                    impact on evaluation validity.
                </p>
            </div>
        </div>

        <div class="quantify">
            <a href="/quantify">
            <button>Quantify <span class="arrow">&rarr;</span></button>
            </a>
        </div>
    </div>
{% endblock %}

